* {
    box-sizing: border-box;
  }
  
body {
    font-family: Helvetica, sans-serif;
  }

.pagespace {
    max-width: 1200px;
    margin: 1rem auto;
  }

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    align-items: center;
    border-bottom: rgba(50, 50, 50, 0.1) 2px solid;
}

.fa {
    color: Orange;
    padding-left: 1rem;
}

.square-border {
    border: orange solid 2px;
    border-radius: 3px;
    padding: 0.25rem;
    border-radius: 20%;
    width: 2rem;
    text-align: center;
    color: orange;
}

.icons {
    padding-right: 1rem;
}

i {
    margin: 0.2rem;
    padding-right: 0.5rem;
}

img {
    padding-top: 0.5rem;
    width: 10rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

button {
    background-color: orange;
    border-radius: 5px;
    padding: 0.75rem 1.25rem;
    color: white;
    font-weight: 600;
    border: none;
    margin-left: 2rem;
}

main {
    display: flex;
    align-items: center;
    background-color: #fbd6b5;
    padding: 7% 2rem;
}

h3 {
  color: #ef5f46;
  text-transform: uppercase;
}

h1 {
    font-size: 3rem;
}

h1, i {
    color: #14195a;
    text-transform: capitalize;
}

.text {
    font-size: 0.9rem;
    color: #999e93;
    font-weight: 600;
}

section .pagespace {
    display: flex;
    align-items: center;
}

.kaire {
    flex: 3;
}

.desine {
    flex: 3;
}

.desine img {
    width: 100%;
}

.shop-now {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.shop-now-arrow::after {
    content: " \2192";
  }

h4 {
    color: #14195a;
}

footer {
    height: 2rem;
}