.main {
    display: flex;
    flex-direction: row;
    background-color: rgb(201, 201, 201);
    max-width: 1200px;
    height: 450px;
}

.kubas1 {
    flex: 1 0 200px;
    height: 150px;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;

}

.kubas2 {
    flex-basis: 150px;
    height: 150px;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.kubas3 {
    flex-basis: 150px;
    height: 150px;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    flex-shrink: 0;
}

.kubas4 {
    flex-basis: 150px;
    height: 150px;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.kubas5 {
    height: 150px;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 200px;
    order: -1;

}

div {
    font-size: xx-large;
}